.scroll-lock {
    position: fixed;
    width: 100%;

}

.header {
    margin-top: var(--m-page-margin-y);
}

footer {
    padding-top: var(--m-page-margin-y);
    padding-bottom: var(--m-page-margin-y);
    background-color: var(--mirage-blue);
    position: relative;
    overflow: hidden;
}
footer .logo {
    filter: brightness(1000%);
}
footer *{
    position: relative;
    z-index: 10;
}
/* circle */
footer::after {
    @apply rounded-full;
    content: "";
    display: block;
    position: absolute;
    height: 780px;
    width: 780px;
    background-color: var(--light-mirage-blue);
    left: 50%; 
    transform: translate(-50%, 0);
    top: 165px;
    z-index: 0;
}

.nav-bottom {
    @apply font-bold;
    color: var(--gray);
}
.nav-bottom li {
    @apply m-5;
}
.nav-bottom li:hover {
    color: var(--primary-white);
}

.social-media a {
    @apply m-4;
}
.social-media a img {
    filter: invert(100%) sepia(0%) saturate(5614%) hue-rotate(107deg) brightness(105%) contrast(102%);
}
.social-media a img:hover {
    filter:invert(70%) sepia(36%) saturate(2510%) hue-rotate(295deg) brightness(89%) contrast(91%);

}
.header__logo-link-wrapper {
    position: relative;
    z-index: 10;
}
.header__show-hide-menu {
    @apply ml-auto my-auto;
    background-image: url("./assets/shared/mobile/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 28px;
    height: 17px;
    position: relative;
    z-index: 101;
}
.header__show-hide-menu--hide-menu {
    background-image: url("./assets/shared/mobile/close.svg");
}
.header__link-list-mobile {
    @apply pt-28;
    display: flex;
    flex-direction: column;
}
.header__link-mobile {
    @apply mb-4;
}
.header__nav-mobile {
    position: absolute;
    height: 100vh;
    background-color: var(--mirage-blue);
    top: 0;
    right: 0;
    color: var(--gray);
    font-weight: bold;
    width: 70vw;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
.header__nav-mobile * {
    z-index: 10;
}
.header__nav-mobile::before {
    content: "";
    height: 1px;
    width: calc(100% - (var(--m-page-margin-x) * 2));
    background-color: var(--smoke-gray);
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
}
.header__nav-mobile::after {
    @apply rounded-full;
    content: "";
    display: block;
    height: 780px;
    width: 780px;
    
    position: absolute;
    z-index: 0;
    background-color: var(--light-mirage-blue);
    /* responsive center elem */
    left: 28%; 
    transform: translate(-50%, 0);
    top: -550px;
}

.header__schedule-button-mobile {
    @apply mt-2;
}

.header__nav {
    display: none;
}

.header__link-mobile:hover {
    color: var(--primary-white);
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
        z-index: 10;
    }
    .header__nav-mobile {
        display: none;
    }
    .header__show-hide-menu {
        display: none;
    }
    .header__nav {
        @apply flex-1;
        display: flex;
    }
    .header__link-list {
        @apply mx-auto;
    }
    .header__link:hover {
        color: var(--blue);
    }
    .header__nav li {
        @apply mx-5 font-bold;
        color: var(--dark-blue)

    }

    .footer__content-wrapper {
        display: flex;
        align-items: center;
    }
    
    .nav-bottom {
        @apply mx-auto;
    }

    .nav-bottom>ul {
        display: flex;
    }

    .social-media {
        margin-left: auto;
    }
    footer::after {
        left: 400px;
        transform: initial;
        top: -100px;
    }
}

@media screen and (min-width: 1248px) {
    header {
        @apply mx-auto;
        max-width: var(--max-width-home-desktop);
    }
    header.page-margin-x {
        @apply mx-auto;
    }
    .header__link-list, .nav-bottom {
        margin-left: 70px;
        margin-right: auto;
    }
    .footer__content-wrapper {
        @apply mx-auto;
        max-width: var(--max-width-home-desktop);
    }
    footer::after {
        left: initial;
        right: -130px;
    }
}