
.nav-top {
    @apply hidden flex-row items-center flex-1;
}

.nav-top>ul>li {
    @apply m-5;
}

header {
    margin-top: var(--m-page-margin-y);
}

footer {
    padding-top: var(--m-page-margin-y);
    padding-bottom: var(--m-page-margin-y);
    background-color: var(--mirage-blue)
}
footer .logo {
    filter: brightness(1000%);
}

.nav-bottom {
    @apply font-bold;
    color: var(--gray);
}
.nav-bottom li {
    @apply m-6;
}

.social-media img {
    @apply m-4;
}