
.nav-top {
    @apply hidden;
}


.show-hide-menu {
    @apply  ml-auto;
}

header {
    margin-top: var(--m-page-margin-y);
}

footer {
    padding-top: var(--m-page-margin-y);
    padding-bottom: var(--m-page-margin-y);
    background-color: var(--mirage-blue);
    position: relative;
    overflow: hidden;
}
footer .logo {
    filter: brightness(1000%);
}
footer *{
    position: relative;
    z-index: 10;
}
/* circle */
footer::after {
    @apply rounded-full;
    content: "";
    display: block;
    position: absolute;
    height: 780px;
    width: 780px;
    background-color: var(--light-mirage-blue);
    left: 50%; 
    transform: translate(-50%, 0);
    top: 165px;
    z-index: 0;
}

.nav-bottom {
    @apply font-bold;
    color: var(--gray);
}
.nav-bottom li {
    @apply m-5;
}

.social-media a {
    @apply m-4;
}

@media screen and (min-width: 768px) {
    .nav-top {
        @apply flex-1;
        display: flex;
    }
    .nav-top ul {
        @apply mx-auto;
    }
    .nav-top li {
        @apply mx-5 font-bold;
        color: var(--dark-blue)

    }
    .nav-top button {
        @apply ml-auto rounded-full font-bold py-2 px-6;
        background: var(--primary-pink);
        color: white;
    }
    .show-hide-menu {
        display: none;
    }

    .footer__content-wrapper {
        display: flex;
        align-items: center;
    }
    
    .nav-bottom {
        @apply mx-auto;
    }

    .nav-bottom>ul {
        display: flex;
    }

    .social-media {
        margin-left: auto;
    }
    footer::after {
        left: 400px;
        transform: initial;
        top: -100px;
    }
}

@media screen and (min-width: 1248px) {
    header {
        @apply mx-auto;
        max-width: var(--max-width-home-desktop);
    }
    header.page-margin-x {
        @apply mx-auto;
    }

    .footer__content-wrapper {
        @apply mx-auto;
        max-width: var(--max-width-home-desktop);
    }
}