.home-margin-between-sections {
    margin-top: 80px;
    margin-bottom: 80px;
}

.start-section {
    margin-top: 30px;
    margin-bottom: 80px;
}

.start-section::after {
    @apply rounded-full;
    content: "";
    display: block;
    height: 780px;
    width: 780px;
    
    position: absolute;

    background-color: var(--lighter-blue);
    z-index: -1;
    /* responsive center elem */
    left: 50%; 
    transform: translate(-50%, 0);
    top: -550px;
}

.start-section .img-wrapper img {
    @apply mx-auto;
    width: 128px;
}
.start-section__image {
    /* @apply filter drop-shadow-2xl; */
    filter: drop-shadow(0 25px 25px rgba(27, 38, 47, 0.3));
 }
.heading {
    @apply leading-tight;
    font-family: var(--heading-font-family);
    font-size: var(--m-heading);
    text-align: center;
}

.big-heading {
    @apply leading-tight;
    font-size: var(--m-big-heading);
    font-family: var(--heading-font-family);
    text-align: center;
}

.under-text {
    color: var(--light-blue);
}

.under-text span {
    font-weight: bold;
}

.logos {
    --logo-height: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, var(--logo-height));
    column-gap: 20px;
    row-gap: 45px;
    max-width: 350px;
    margin: auto;
    margin-bottom: 56px;
}
.logos>div {
    @apply flex justify-start items-center;
}

.business-allies {
    padding-top: 80px;
    padding-bottom: 80px; 
    background-color: var(--mirage-blue);
    position: relative;
    overflow: hidden;
}
.business-allies * {
    z-index: 10;
}
.business-allies>.logos {
    position: relative;
}

.logos>div>img {
    /* white */
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(194deg) brightness(109%) contrast(112%);
}

.business-allies::after {
    @apply rounded-full;
    content: "";
    display: block;
    height: 780px;
    width: 780px;

    background-color: var(--light-mirage-blue);
    z-index: 0;
    position: absolute;

    top: -580px;
    left: 50%; 
    transform: translate(-50%, 0);
}

.button {
    @apply rounded-full; 
}

.text-under-image-section {
    @apply home-margin-between-sections;
    text-align: center;
}

/* image wrapper*/
.text-under-image-section__image-wrapper {
    @apply inline-block;
}

.text-under-image-section__image{ 
    width: 328px;
    filter: drop-shadow(0 25px 25px rgba(27, 38, 47, 0.3));
}

/* heading */
.text-under-image-section__heading {
    @apply big-heading mb-4;
}
/* text */
.text-under-image-section__text {
    @apply  leading-7;
}

.pros-section {
    @apply home-margin-between-sections;
}

.pro {
    @apply text-center mt-12;
}
/* image wrapper, 3 elements, no style classes*/
.pro>div:nth-child(1){
    @apply inline-block mb-2;
}
/* heading */
.pro>div:nth-child(2) {
    font-size: var(--m-heading);
}

.email-section {
    @apply home-margin-between-sections
}

@media screen and (min-width: 768px) {
    .big-heading {
        font-size: var(--t-home-big-heading);
    }
    .start-section::after {
        height: 949px;
        width: 949px;
        top: -670px;
    }
    .business-allies__text {
        max-width: 500px;
        margin: auto;
    }
    .logos {
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, var(--logo-height));
        min-width: 600px;
    }
    .text-under-image-section {
        max-width: 573px;
        margin-left: auto;
        margin-right: auto;
    }
    .home-margin-between-sections {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .pros-section {
        display: flex;
        flex-direction: row;
        
    }
    .pro {
        @apply mx-2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 110px 50px auto;
    }
    .pro__image {
        height: 88px;
        width: 88px;
        margin: auto;
    }
    .start-section .img-wrapper img {
        width: 155px;
    }

    .start-section {
        @apply mx-auto;
        max-width: 700px;
    }
}

@media screen and (min-width: 1248px) {
    .big-heading--main {
        font-size: var(--d-home-main-heading);
        text-align: left;
    }
    .start-section {
        display: flex;
        max-width: var(--max-width-home-desktop);
        flex-direction: row-reverse;
        margin-top: 78px;
        margin-bottom: 78px;

    }
    .start-section .img-wrapper {
        @apply mx-auto flex-auto;
        display: flex;
    }
    .start-section .img-wrapper img {
        width: 255px;
    }
    .start-section__info {
        @apply my-auto;
        max-width: 568px;
        height: min-content;
    }
    .under-text {
        @apply ml-4;
        text-align: left;

    }
    .business-allies__content-wrapper {
        @apply mx-auto;
        max-width: var(--max-width-home-desktop);
        display: flex;
        flex-direction: row-reverse;
    }
    .business-allies__text {
        margin: auto;
        text-align: left;
    }
    .business-allies__text > .big-heading {
        text-align: left;
    }
    .logos {
        @apply m-auto;
        min-width: initial;
    }
    .business-allies__text-info {
        @apply mb-8;
    }

    .text-under-image-section {
        @apply my-0;
        max-width: var(--max-width-home-desktop);
    
    }
    .text-under-image-section--second {
        position: relative;
    }
    .text-under-image-section--second * {
        position: relative;
        z-index: 10;
    }
    .text-under-image-section--second::after {
        @apply rounded-full;
        content: "";
        height: 780px;
        width: 780px;
        background-color: var(--lighter-blue);
        position: absolute;
        z-index: 0;
        top: -180px;
        right: -500px;
    }
    .text-under-image-section__info-wrapper {
        @apply flex justify-center flex-col;
        text-align: left;
        width: 450px;
    }
    .text-under-image-section__heading--text-left {
        text-align: left;
    }
    .text-under-image-section__image {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .text-under-image-section__content-wrapper {
        /* @apply flex justify-start items-center; */
        display: grid;
        grid-template-columns: 450px 566px;
        grid-template-rows: 500px;
    }
    .text-under-image-section__info-wrapper--not-reversed {
        @apply ml-auto;
    }
    .text-under-image-section__image-wrapper--reverse {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .text-under-image-section__info-wrapper--reverse {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }
    .text-under-image-section__image-wrapper {
        @apply m-0;
    }
    .text-under-image-section__image--second {
        right: -80px;
    }
    .pros-section {
        @apply mx-auto mt-0;
        max-width: var(--max-width-home-desktop);
    }
    .pro {
        grid-template-rows: 110px 70px auto;
    }
    .pro__image {
        height: 106px;
        width: 106px;
    }
    .pro__heading {
        @apply mb-3 mt-7;
    }
    .start-section::after {
        width: 780px;
        height: 780px;
        top: -250px;
        right: -50px;
        left: initial; 
        transform: initial;
    }
    .business-allies::after {
        top: -400px;
        left: -100px;

        transform: initial;
    }
}