@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap');

.page-margin-x {
    margin-left: var(--m-page-margin-x);
    margin-right: var(--m-page-margin-x);
}
.email-section__heading {
    @apply leading-tight;
    font-size: var(--m-big-heading);
    font-family: var(--heading-font-family);
    text-align: center;
    color: var(--blue);
}
.page-padding-x {
    padding-left: var(--m-page-margin-x);
    padding-right: var(--m-page-margin-x);
}
body {
    @apply leading-loose;
    position: relative;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    background-color: var(--body-bg-color);
    font-size: 15px;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    .email-section__heading {
        font-size: var(--t-home-big-heading)
    }
}