@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap');

.top-circle::after {
    @apply rounded-full;
    content: "";
    display: block;
    height: 780px;
    width: 780px;
    
    position: absolute;
    z-index: 0;
    background-color: var(--lighter-blue);
    top: -650px;
    right: -500px;
}

.page-margin-x {
    margin-left: var(--m-page-margin-x);
    margin-right: var(--m-page-margin-x);
}

.page-padding-x {
    padding-left: var(--m-page-margin-x);
    padding-right: var(--m-page-margin-x);
}

.email-section__heading {
    @apply leading-tight;
    font-size: var(--m-big-heading);
    font-family: var(--heading-font-family);
    text-align: center;
    color: var(--blue);
}
.email-section__input-wrapper {
    @apply mt-10;
}
body {
    @apply leading-loose;
    position: relative;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    background-color: var(--body-bg-color);
    font-size: 15px;
    overflow-x: hidden;
    color: var(--light-blue);
}

html {
    overflow-x: hidden;
}

.btn {
    @apply inline-block rounded-full py-2 px-7;
}

.btn--hollow-blue {
    border: 1px var(--blue) solid;
    font-weight: bold;
    color: var(--blue);
    background-color: rgba(0, 0, 0, 0);

}
.btn--hollow-white {
    border: 1px var(--primary-white) solid;
    font-weight: bold;
    color: var(--primary-white);
    background-color: rgba(0, 0, 0, 0);
}

.page-heading {
    @apply my-12 leading-tight;
    font-size: var(--m-pricing-page__heading--font-size);
    font-family: var(--heading-font-family);
    color: var(--blue);
    text-align: center;
    position: relative;
    z-index: 10;
}
.btn--pink-filled {
    background: var(--primary-pink);
    color: white;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .page-heading {
        font-size: var(--t-pricing-page__heading--font-size);
    }
    .email-section__heading {
        font-size: var(--t-home-big-heading)
    }
    .page-margin-x {
        margin-left: var(--t-page-margin-x);
        margin-right: var(--t-page-margin-x);
    }
    .page-padding-x {
        padding-left: var(--t-page-margin-x);
        padding-right: var(--t-page-margin-x);
    }
    .top-circle::after {
        top: -500px;
        right: -450px;
    }
}
@media screen and (min-width: 1248px) {
    .page-heading {
        font-size: var(--d-pricing-page__heading--font-size);
        text-align: left;
    }
    .page-margin-x {
        @apply mx-auto;
        max-width: 1000px;
    }
    .page-padding-x {

    }
    .top-circle::after {
        top: -550px;
        right: -50px;
    }
    .email-section {
        @apply flex flex-row justify-between items-center;
    }
    .email-section__input-wrapper {
        @apply m-0;
    }
}