.input-email {
    @apply flex flex-col flex-1;
    max-width: 328px;
}
.input-email__input-field {
    @apply inline-block rounded-full py-2 px-7 mb-5;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input-email__input-field:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .input-email {
        @apply flex-row justify-center flex-none;
        max-width: initial;
    }
    .input-email__input-field {
        @apply mb-0 pr-14;
        width: 310px;
    }
    .input-email__btn {
        margin-left: -50px;
    }
}

@media screen and (min-width: 1248px) {
    
}