.pricing-page__heading {
    @apply my-12;
    font-size: var(--m-pricing-page__heading--font-size);
    font-family: var(--heading-font-family);
    color: var(--blue);
    text-align: center;
}

.plan {
    @apply mb-12;
    text-align: center;
}

.plan__about {
    display: none;
}

.plan__price {
    @apply mt-10;
    font-size: var(--m-plan__price--font-size);
    font-family: var(--heading-font-family);
    color: var(--blue);
}

.plan__heading {
    font-size: var(--m-plan__heading--font-size);
    font-family: var(--heading-font-family);
    color: var(--primary-pink);
}
.plan__pros {
    @apply py-6 my-6;
    border-top: 1px solid #BFCBD5;
    border-bottom: 1px solid #BFCBD5;
}
.plan__pro {
    @apply mx-auto;
    display: flex;
    align-items: center;
    color: var(--blue);
    font-size: var(--m-plan__pro--font-size);
    width: 150px;
}
.plan__pro::before {
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    margin-right: 20px;
    background-image: url("./assets/shared/desktop/icon-check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.plan__pro--unactive {
    color: #92A3B2;
}

.plan__pro--unactive::before {
    background-image: none;
}


@media screen and (min-width: 768px) {
    .pricing-page__heading {
        font-size: var(--t-pricing-page__heading--font-size);
    }
    .pricing-section {
        display: flex;
        flex-direction: row;
    }
    .plan__about {
        @apply my-4;
        display: block;
        color: var(--light-blue);
        font-size: var(--t-plan__about--font-size);
        height: 90px;
    }
    .plan__price {
        @apply mt-0;
        font-size: var(--t-plan__price--font-size);
    }
    .plan {
        @apply m-2;
    }
}

@media screen and (min-width: 1248px) {
    .plan {
        @apply mr-8 ml-0;
        text-align: left;
    }
    .plan__about {
        height: auto;
    }
    .plan__pro {
        @apply mr-auto ml-0;
    }
    .pricing-page__heading {
        font-size: var(--d-pricing-page__heading--font-size);
        text-align: left;
    }
}