

:root {
    /* colors */
    --primary-pink:rgb(186, 66, 112);
    --primary-white:rgb(251, 252, 254);

    --gray: #B8BCC0;
    --blue:rgb(54, 83, 107);
    --light-blue:rgb(108, 130, 148);
    --mirage-blue:rgb(27, 38, 47);
    --charm-pink:rgb(218, 109, 151);
    --body-bg-color: #EDF3F8;
    /* circle color */
    --lighter-blue: #D2DBE3;
    --dark-blue: #657C8F;
    --light-mirage-blue: #1F2D38;
    --smoke-gray: #404B56;
    /* fonts */

    --heading-font-family: 'DM Serif Display', serif;
    --heading-font-weight: 400;
    --body-font-family: 'Public Sans', sans-serif;
    --body-font-weight: 400;
    --page-margin-x: 20px;

    /* font size */
    --m-big-heading: 32px;
    --m-heading: 18px;
    --m-home-big-heading: 32px;
    --m-home-heading: 18px;
    --t-home-big-heading: 48px;
    --t-home-heading: 18px;
    --d-home-main-heading: 72px;
    --m-page-margin-y: 30px;
    --m-page-margin-x: 30px;

    /* pricing */
    --m-pricing-page__heading--font-size: 36px;
    --m-plan__heading--font-size: 24px;
    --m-plan__price--font-size: 56px;
    --m-plan__pro--font-size: 16px;     
    
    --t-plan__about--font-size: 15px;
    --t-pricing-page__heading--font-size: 48px;
    --t-plan__price--font-size: 48px;

    --d-pricing-page__heading--font-size: 52px;

    --max-width-home-desktop: 1000px;
}